.body2 {
  background: url(../img/hsecrets.jpg) no-repeat center fixed;
  background-size: cover;

  min-height: 100vh;
  height: 100%;
}
.boton1 {
  text-align: center;
  margin-top: 340px;
  justify-content: center;
  height: 30px;
  font-size: large;
}
.boton2 {
  text-align: center;
  margin-top: 30px;
  justify-content: center;
  height: 30px;
}
